@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model MemberRegistration1.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/fontawesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a style="color:lightslategray"><b>Login</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-controller="Login" asp-action="Index" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="user_username" class="control-label">Username</label>
                        <input asp-for="user_username" class="form-control" placeholder="Username" required />
                        <span asp-validation-for="user_username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="user_passwd" class="control-label">Password</label>
                        <input type="password" asp-for="user_passwd" class="form-control" placeholder="Password" required />
                        <span asp-validation-for="user_passwd" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <p class="mb-0">
                                <a asp-controller="Login" asp-action="Register" class="text-center">Register a new membership</a>
                            </p>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                @if (ViewBag.Message != null)
                {
                    <alert>@ViewBag.Message</alert>
                }

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/jquery/jquery.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

</body>
</html>

